@page
@model FirstRazorApp.Pages.MarsModel
@{
    DateTime today = DateTime.Now;
}
<h1>Boka resa till Mars</h1>

<form method="post">

    <label asp-for="FirstName"></label>
    <input asp-for="FirstName" />
    <br />
    <label asp-for="LastName"></label>
    <input asp-for="LastName" />
    <br />
    <label asp-for="StartDate"></label>
    <input asp-for="StartDate" min="@today" value="@today" />
    <br />
    <label asp-for="EndDate"></label>
    <input asp-for="EndDate" min="@today" value="@today" />
    <br />
    <label asp-for="NumberOfBags"></label>
    <input asp-for="NumberOfBags" />
    <br />
    <label asp-for="LitersOfWater"></label>
    <input asp-for="LitersOfWater" />
    <br />
    <label asp-for="NumberOfMeals"></label>
    <input asp-for="NumberOfMeals" />
    <br />
    <label asp-for="LuxuryRoom"></label>
    <input asp-for="LuxuryRoom" />
    <br />
    <label asp-for="RoomColor"></label>
    <input asp-for="RoomColor" type="color" />



    <br />
    <input type="submit" />
</form>